.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 979px) {
    .grid-container {
        display: block
    }
    .desktop {
        display: none;
    }
}